/****************************
    Resets
 ****************************/

html,
body,
div,
p,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 10px;
}


/****************************
    Common Classes
 ****************************/

html,
body {
    height: 100%;
    color: #516270;
    font-family: "proxima_nova_regular";
}

a {
    color: #516270;
}

h1 {
    font-weight: bold;
}

h3 {
    text-shadow: 2px 2px 4px #000000;
}

h4 {
    font-size: 20pt;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 15px;
    font-family: "proxima_nova_light";
    padding: 0 10px;
}
th, td, a, li{
    font-family: "proxima_nova_regular" ,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}
.col {
    float: left;
}

.col-3 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.full-height {
    height: calc(100% - 80px);
}

.block {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    box-shadow: 5px 5px 5px #bbb;
}

.no-overflow {
    overflow: hidden;
}

.header {
    background-color: rgb(49, 49, 49);
    height: 68px;
}

.team-photos {
    display: table;
    margin: 0;
    height: 100%;
}

.team-photos .team {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    text-align: center;
}

.team-photos .team img { width:100%;}

.team-photos .team {
    display: none;
}
.team-photos .team:first-of-type {
    display: table-cell;
}

.sponsor-images {
    display: table;
    margin: 0;
    height: 100%;
    width:100%;
}

.sponsor-images {
    height: 100%;
}

.sponsor-images .sponsor {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width:100%;

    text-align: center;

}

.sponsor-images .sponsor {
    display: none;
}
.sponsor-images .sponsor:first-of-type {
    display: table-cell;
}
.marque {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-color: rgb(49, 49, 49);
    border-width: 1px;
    border-style: solid;
    margin: 10px 0 10px 0;
    padding: 7px 10px;
    overflow: hidden;
    height: 42px;
}

.marque ul {
    list-style: none;
    margin: 0px;
    position: absolute;
    left: 0px;
}

.marque li {
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    padding: 0px 15px;
}
.marque li span, .marque li strong {
     color: #f6c104;
}

.marque li:nth-child(n+2) {
    border-left: 1px solid #fff;
}

.leaderboard {
    margin-top: 3px;
    margin-bottom: 2px;
    background-color: rgb(221, 221, 221);
}

.leaderboard h3 {
    color: rgb(255, 255, 255);
    text-indent: 10px;
}

table {
    width: 100%;
    font-family: "Helvetica Neue', Helvetica, Roboto, Arial, sans-serif";
}

th {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    background-color: rgb(49, 49, 49);
    -moz-border-radius: 2%;
    -webkit-border-radius: 1%/2%;
    border-radius: 1%/2%;
    border-color: rgb(238, 238, 238);
}

td {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    padding: 0 10px;
    text-align: left;
    -moz-border-radius: 2%;
    -webkit-border-radius: 1%/2%;
    border-radius: 1%/2%;
    color: rgb(76, 76, 76);

    height: 45px;
}
td span{
    font-size: 14px;
    line-height:16px;
}
tr.alt td {
    background-color: rgb(221, 221, 221);
    border-color: rgb(238, 238, 238);
    border-width: 1px;
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%/2%;
    border-radius: 0%/2%;
    border-style: solid;
    color: rgb(76, 76, 76);
}

.event-logo {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.sponsor-logo {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.pagination {
    margin-bottom: 10px;
}

.pagination ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.pagination li {
    display: inline-block;
    background-color: rgb(221, 221, 221);
    font-size: 14px;
    line-height: 14px;
    color: rgb(76, 76, 76);
    text-align: center;
    border: 1px solid #fff;
}

.pagination a {
    padding: 5px 8px;
    display: block;
}

.pagination li.prev,
.pagination li.next {
    background-color: rgb(170, 170, 170);
    overflow: hidden;
    position: relative;
    top: 9px;
    padding: 5px;
}

.pagination li.prev {
    -moz-border-top-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination li.next {
    -moz-border-top-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination li.prev a {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 14px solid #fff;
    border-bottom: 7px solid transparent;
    padding: 0px;
}

.pagination li.next a {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid #fff;
    border-bottom: 7px solid transparent;
    padding: 0px;
}
.pagination .active{
    background-color: rgb(170, 170, 170);

}

.pagination .active a{
    font-weight: bold;
    color: #FFF;
}

/* Small screens */

@media only screen {
    .column,
    .columns {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1 {
        font-size: 28px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        background-color: rgb(49, 49, 49);
        margin: 0;
        padding: 10px;
    }
    .leaderboard h3 {
        font-size: 16px;
        line-height: 30px;
    }
    .event-logo {
        min-width: 320px;
    }
    .sponsor-logo {
        min-width: 320px;
    }
    .marque {
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
}


/* Define mobile styles */


/* Medium screens */

@media only screen and (min-width: 40.063em) {
    h1 {
        font-size: 30px;
        line-height: 55px;
    }
    .leaderboard h3 {
        font-size: 20px;
        line-height: 40px;
    }
    .event-logo {
        width: 453px;
        height: 337px;
    }
    .sponsor-logo {
        width: 453px;
        height: 220px;
    }
    .marque {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}


/* min-width 641px, medium screens */


/* Large screens */

@media only screen and (min-width: 64.063em) {
    h1 {
        font-size: 30px;
        line-height: 55px;
    }
    .leaderboard h3 {
        font-size: 20px;
        line-height: 40px;
    }
    .marque {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}


/* min-width 1025px, large screens */


/* XLarge screens */

@media only screen and (min-width: 90.063em) {
    h1 {
        font-size: 30px;
    }
    .leaderboard h3 {
        font-size: 20px;
        line-height: 40px;
    }
    .marque {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}


/* min-width 1441px, xlarge screens */


/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
    h1 {
        font-size: 30px;
    }
    .leaderboard h3 {
        font-size: 20px;
        line-height: 40px;
    }
    .marque {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}


/* min-width 1921px, xxlarge screens */
